@font-face {
font-family: "GOTHIC";
src: url("GOTHIC.TTF");
}

body { 
background-color: #000000;
background-image: url("pictures/90srapbackground.png");
background-repeat: repeat;
color: #ffffff;
font-family: arial, helvetica, serif, 'GOTHIC';
/* hell body */
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
h1 {display:block; padding:0em 0em 0em 0em; line-height:1em}

p {display:block; padding:0px 0px 0px 0px; line-height:1em;
    font-family: "GOTHIC", cursive, sans-serif}
br {display:block; padding:1px 0px 0px 0px; line-height:1px}

div#main{
    background-color: #000000;
    text-align: left;
    width: 60%;
    margin-left: 1%;
    margin-right: auto;
    padding: 10px 10px 40px 10px;
    border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
}

/* unvisited link */
a:link{
    background-color: #000000;
    color: red;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* hell */
}

/* visited link */
a:visited {
    background-color: #000000;
    color: purple;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* hell visited */
}

/* mouse over link */
a:hover {
    background-color: #ff0000;
    color: #2020ff;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* selected link */
a:active {
    background-color: #00ff00;
    color: #5050ff;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.Buttons {
  position: fixed;
  top: 0;
  right: 0;
  width: 210px;
  background-color: white;
}

/*a#otherLinks{
    color: purple;
}*/