html{
    background-color: #1D0ED7;
    color: #675CF1;
}

body{
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 40px 10px;
    border-radius: 10px;
}

div#sidebar{
    overflow-y: auto;
    margin-right: auto;
    margin-left: 65%;
    width: 20%;
    font-size: 15px;
    position: fixed;
}

div#fieldset{
    background-color: #FFFFCC;
    text-align: left;
    padding: 3px 3px 3px 3px;
}

div#main{
    background-color: #0E0858;
    text-align: left;
    width: 60%;
    margin-left: 1%;
    margin-right: auto;
    padding: 10px 10px 40px 10px;
    border-radius: 10px;
    border-radius: 10px;
    color: #675CF1;
}

h1{
    color: #675CF1;
}

h2{
    color: #675CF1;
}

h3, h4, h5{
    color: #7DCE00;
}

/*
 * span.profanity {color:red}
 * span.lifeEvent {color:orange}
 * span.dt {color:yellow}
 * span.emotion {color:white}
*/


span.Testprofanity, span.profanity.on{
    color: red;
}

span.TestlifeEvent, span.lifeEvent.on{
    color: orange;
}

span.Testdt, span.dt.on{
    color: yellow;
}

span.Testemotion, span.emotion.on{
    color: white;
}