/* Add a black background color to the top navigation */
.topnav {
    background-color: #000000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffffff;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #00ff00;
    color: white;
}