body {
    background-color: #3E6FB1;
}
.header {
    text-align: center;
}
body {
    color: #1C233E
}
img { 
    max-width: 100%; 
    height: auto; 
}
a:link {
    color: #D8D5CC;
}
a:visited {
    color: #B3BCC0;
}
a:hover {
    color: #D6D5D0;
}
h1{
    color:black;
    font-family:arial, helvetica, sans-serif;
}
#ssi{
    font-family: arial;
    background:#FFBB4A;
    text-align:justify;
    font-family:Dotum, Century, Arial;
}
.description{
    background:#8CAFDE;
    color:black;
    font-family:Century;
    text-align:justify;
}
.main{
    background-color:#5F8AC6;
    color: black;
    font-family:Century;
}
.data{
    width: 20%;
    height: 400px;
    margin:1%;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
      display: flex;
  justify-content: space-around;
    background-color: #FFBB4A;
}
li {
    float: left;
}
a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: #111;
}
