#container {
	position: absolute;
}

#main {
  	position: absolute;
  	left: 10px;
  	top: 10px;
}

.floater {
    position: relative; 
	top: 100px;
	left: 800px;
}

#explain {
    position: absolute;
    top: 600px;
    left: 10px;
    width: 900px;
    
}
