body{background-color:#000000; color:#FFB587;
 font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif}

div#top {width:100% }
div#banner {width:100%; float:right}
div#banner img {width:800px}
div#container {width:80%; float:left}

h1 {font-size:1.7em; padding:2px; color:#FFCC66; text-align:center}
h2 {font-size:1.5em; padding:1px; color:#FFCCB2; text-align:center}
h3 {font-size:1.3em; padding:1px; color:#8270E8}
h4 {font-size:1.1em; padding:1px; color:#F2D9E6 
}

p {padding:5px}

a:link {color:#00056B;}      /* unvisited link */
a:visited {color:#333399
;}  /* visited link */
a:hover {color:#003197;}  /* mouse over link */
a:active {color:#003197;}  /* selected link */